body{
    background-color: #FAF3E0;
    z-index: 1;
}

.navbar{
    background-color: rgb(234, 191, 159);
}
.nav-link{
    font-size: 20px;
}

h1{
    font-size: 80px;
}

.p-title{
    font-size: 30px ;
}

.foto-perfil{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.estrutura-site{
    width: 1038px;
    height: 658px; 
}

#apresentacao{
    background-color:#EABF9F;
  
}

.content{
    margin-bottom: -150px;

}

.about{
    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: -100px;
  
   
}

.cursos{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:white;
    border-radius:15px;
    width: 1200px;
    height: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:  -5px -5px 13px #c5a086,
    5px 5px 13px #ffdeb8;

    
    
}

#skills{
    padding-top: 350px;
}

.col-4{
    width: 300px;
    height: 300px;
    border-radius:15px;
    font-size: 30px;  
    margin-right: 40px;
    margin-top: 40px;
  
}
.carousel-item{
    width: 800px;
    left: 50%;
    transform: translateX(-50%);

    
}
.icone{
    height: 40px;
    color:#B68973;
}
.carrossel{
    background-color:white;
   
}

.logos{
    width: 40%;
}



@media(max-width:540px){
.profile{
   text-align: center;
}
.estrutura-site{
    width: 380px;
    height:300px;
    
}

.about{
    padding-top: 100px;
    padding-bottom: 00px;
    margin-bottom: 0px;
  
   
}
.cursos{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width:350px;
    height: fit-content;
    position:relative;
    left: 0;
    transform: translateX(0);
}
#skills{
  padding-top: 0;
}

.col-4{
    margin-right: 0px;
}

.col-4>img{
    width: 250px;
    height: 250px;
}
.carousel-item{  
    width: 450px;
}

.logos{
    width: 100%; 
}
}